body {
    padding: 108px 0 0px 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    background-position: center top;
    font-size: 16px;
    /*font-size:15px; ???*/
}
a {
    color: #ff6600;
}
a:hover {
    color: #ff6600;
    text-decoration: none
}
a:focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    color: #ff6600;
    text-decoration: none
}
:focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
p {
    margin: 0;
    padding: 0 0 24px 0
}
p.ras {
    margin: 0 0 0px 0;
    padding: 0 0 0px 0
}
h1 {
    /*text-shadow: 0 .0625rem 0 rgba(255,255,255,.6);*/
}
.navbar-fixed-top {
    background: rgba(255, 255, 255, 0.90);
    padding: 5px 0 15px 0;
    z-index: 999;
    top: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.logo {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 999;
    width: 220px;
}
.logo img,
.logo-sab img {
    width: 100%;
    height: auto
}
.login {
    float: right;
    display: block;
    height: 45px;
}
.content-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999999;
    top: 15px
}
.subperfil {
    display: none;
    padding: 15px 0 15px 0;
    overflow: hidden;
    margin-bottom: 15px;
}
.subperfil ul {
    padding: 0;
    margin: 0 0 15px 0;
    list-style-type: none
}
.subperfil li a {
    border-left: #ff6600 solid 1px;
    background: none;
    background-color: transparent;
    display: block;
    padding: 10px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    min-width: 200px
}
.subperfil li a:hover {
    padding: 10px 10px 10px 7px;
    border-left: #ff6600 solid 4px;
    font-weight: bold;
}
.login-logejat {
    padding: 10px 15px 0px 15px;
    font-size: 14px;
    /*float:right; */
    
    display: inline-block;
    color: #ff6600;
    font-weight: 600;
    overflow: visible;
    position: relative;
    position: absolute;
    z-index: 9990;
    right: 5px;
    /*top:-5px;*/
}
.login-logejat:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.login_nom {
    padding: 10px 10px 0 0;
    text-align: right;
    overflow: hidden
}
.notific {
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 9999;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 11px;
}
.notific:hover {
    color: #ffffff !important;
}
.logo-sab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 999;
    width: 220px;
    padding-bottom:60px;
}
.tar,
p.tar {
    color: #ff6600
}
.tar2,
p tar2 {
    color: #ff9900
}
.tar3,
p tar3,
a.tar3,
a.tar3:hover {
    color: #ffcc99
}
.bgtar {
    background-color: #ff6600
}
.gris {
    color: #999
}
.negre {
    color: #000
}
.bgnegre70 {
    background: rgba(51, 51, 51, .7);
    padding: 50px 0 80px 0;
    overflow: hidden;
    margin-bottom: 5px;
}
.bgnegre {
    background: rgba(51, 51, 51, 1);
    padding: 40px 0;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
}
.bgnegre a {
    color: #ffffff;
}
.bgnegre a:hover {
    color: #ff6600;
}
.semibold{
    font-weight: 600!important
}
.text-light{
    font-weight: 300;
}
.xarxes {
    text-align: right
}
.xarxes img {
    margin: 0 0 0px 15px
}
.navbar {
    min-height: 50px;
    padding: 10px 0 10px 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 3px 10px 5px 10px;
    font-size: 15px;
    color: #000
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: none;
    color: #000;
    font-weight:700;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: none;
    color: #000;
    font-weight:normal;
}
.dropdown-menu {
    position: absolute;
    /*position:relative;*/
    
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 16px 0 0 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu > li > a {
    padding: 13px 10px;
    border-left: #ff6600 solid 1px;
    background: none;
    background-color: transparent;
}
.dropdown-menu>li>a:hover {
    padding: 13px 10px 13px 7px;
    border-left: #ff6600 solid 4px;
    font-weight: bold;
    background: none;
    background-color: transparent;
}
#home-principal {
    text-align: center;
    height: 488px;
    background-image: url(../img/home-principal.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  /*  background-size: cover;*/
    color: #FFF;
    padding-top: 260px;
    overflow: hidden;
}
.capsalera {
    height: 250px;
    background-image: url(../img/home-principal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    padding-top: 100px
}
.capsalera.quisom {
    background-image: url(../img/cap-quisom.jpg);
    margin-top: 44px;
        margin-bottom: 10px;
}
#home-principal h1 {
    font-size: 55px;
    font-family: 'Arvo', serif;
    text-transform: uppercase
}
#home-principal p {
    font-size: 22px;
    font-style: italic
}
#home-banner {
    margin: 3px 0 10px 0
}
#home-banner img {
    width: 100%;
    height: auto;
   /* max-width: 970px;*/
}
.btn-default {
    background-color: #ff6600;
    background: #ff6600;
    color: #ffffff;
    text-shadow: none;
    text-transform: uppercase
}
.btn-default:hover,
.btn-default:focus {
    background-color: #e95e01;
    background: #e95e01;
    color: #ffffff;
    text-shadow: none;
     font-weight: 700;
}
.btn-white {
    background-color: #fff;
    background: #fff;
    color: #ff6600;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 600
}
.btn-white:hover,
.btn-white:focus {
    background-color: #ff6600;
    background: #ff6600;
    color: #ffffff;
    text-shadow: none;
    font-weight: 700;
}
.btn {
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 15px 30px;
    font-size: 15px;
    line-height: 1.3333333;
}
a.mostraform {
    color: #ff6600;
    text-decoration: none;
    padding-right: 10px;
    font-weight: bold
}
h1.titular {
    font-size: 16px;
    background: rgba(255, 102, 0, 1);
    color: #ffffff;
    height: 60px;
    padding: 0px 0 0px 0px;
    margin: 0 0 4px 0;
    font-weight: 600;
    display: table;
    vertical-align: bottom;
    width: 100%;
}
h1.titular.curt {
    height: 40px;
}
h1.titular.taronja {
    padding: 0px 0 12px 15px;
}
h1.titular.deu {
    font-size: 16px;
    background: rgba(255, 102, 0, 0.1);
    padding-top: 12px
}
h1.titular.temps {
    font-weight: 300;
   /* text-align: center;*/
    margin: 0 0 4px 0;
}
h1.mes {
    font-size: 16px;
    color: #ff6600;
    height: 60px;
    padding: 10px 0 0 0;
    margin: 0 0 0px 0;
    font-weight: 600;
    width: 100%;
    border-bottom: #ff6600 solid 1px
}

.mescalend{ padding-top:10px; overflow:hidden}
h1.titblanc {
    font-size: 36px;
    color: #ffffff;
    padding: 0px 0 0px 0px;
    margin: 0 0 0px 0;
    font-family: 'Arvo', serif;
}
h1.foot {
    font-size: 24px;
    color: #ffffff;
    padding: 0px 0 10px 0px;
    margin: 0;
    font-weight: 600;
    color: #ff6600
}
.links-footer {
    padding-bottom: 15px;
    font-size: 12px;
}
.links-footer a {
    color: #ffffff;
}
a.twitter{ width:51px; height:51px; background-image:url(../img/icon-twitter.png); display:inline-block; margin:5px}
a.twitter:hover{ width:51px; height:51px; background-image:url(../img/icon-twitter2.png)}
a.face{ width:51px; height:51px; background-image:url(../img/icon-face.png);display:inline-block;margin:5px}
a.face:hover{ width:51px; height:51px; background-image:url(../img/icon-face2.png)}

.copyright {
    text-align: right
}
h1.titular span.itali-light {
    color: #666666;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px
}
.destacat {
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
    background-size: cover;
    background-position: center center;
}
.destacat img {
    width: 100%;
    height: auto;
}
.destacat h2 {
    padding: 0px 0 8px 15px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.4em;
    height: 60px;
    margin: 0;
    font-weight: 600;
    display: table;
    vertical-align: bottom
}
.destacat h2:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.9);
}
.destacat h2 span {
    font-weight: 300
}
.destacat h2.entrev {
    padding-bottom: 8px
}
.destacat h2 p,
h1.titular p {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
    padding: 0;
    margin: 0
}
.forum {
    overflow: hidden;
    padding: 0px 15px 0 15px;
}
h3.tipus {
    height: 70px;
    border-bottom: #d7d4d5 solid 1px;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
    line-height: 1.45em;
    color: #000;
    margin: 0;
    padding: 20px 30px 0 0
}
h3.tipus img {
    margin: 0 15px 15px 0
}
h3.tipus.cursa {
    background-image: url(../img/icon-cursa.png)
}
h3.tipus.tecnic {
    background-image: url(../img/icon-tecnic.png)
}
.perfil {
    background-position: center center;
    background-size: 40px
}


ul.bxslider,
ul.bxslider li,
ul.bxslider2 {
    padding: 0;
    margin: 0
}
ul.bxslider li {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}
ul.bxslider2 li {
    padding: 0;
    margin: 0 0px 0 0;
    background-color: #fff;
}
ul.bxslider2 li img {
    width: 100%;
    height: auto
}
a.nounder:hover {
    text-decoration: none !important
}
.imatge-prod {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: #FFF solid 15px
}
.titular-prods {
    font-size: 24px;
    color: #fff;
    font-family: 'Arvo', serif;
    padding: 0 0 30px 0
}
.titular-prods.emtrev {
    font-size: 36px;
    line-height: 0.8em
}
.titular-prods.emtrev span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal
}
.titular-prods2 {
    font-size: 16px;
    color: #fff;
    font-family: 'Arvo', serif;
}
.quisom .titular-prods2{
    width: 130px
}
.quisom .histo{
    width: 81%
}
.marbot15 {
    padding: 0 0 15px 0
}
.titular-form {
    font-size: 24px;
    color: #000;
    font-family: 'Arvo', serif;
    padding: 0 0 0px 0
}
.titular-blanc {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Arvo', serif;
    padding: 0 0 30px 0;
    margin: 0
}
.titular-form.minim {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px
}
.info-prod {
    padding: 10px;
    overflow: hidden;
    height: 80px;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #333333;
    border-top: #d7d4d5 solid 1px;
}
.info-prod h4 {
    font-weight: 600;
    margin: 0 0 15px 0;
    padding: 0
}
.info-prod.disponible {
    background-image: url(../img/icon-cistella.png)
}
.info-prod.reservat {
    background-image: url(../img/icon-reservat.png)
}
.preu {
    font-weight: 300;
    font-size: 16px;
}
.estat {
    color: #339933
}
.estat.reser {
    color: #333333
}
#formlogin {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100%;
    max-width: 400px;
}
body.home .row {
    margin-right: -2px;
    margin-left: -2px;
}
body.home{ overflow-x:hidden
}
body.home .col-xs-1,
body.home .col-sm-1,
body.home .col-md-1,
body.home .col-lg-1,
body.home .col-xs-2,
body.home .col-sm-2,
body.home .col-md-2,
body.home .col-lg-2,
body.home .col-xs-3,
body.home .col-sm-3,
body.home .col-md-3,
body.home .col-lg-3,
body.home .col-xs-4,
body.home .col-sm-4,
body.home .col-md-4,
body.home .col-lg-4,
body.home .col-xs-5,
body.home .col-sm-5,
body.home .col-md-5,
body.home .col-lg-5,
body.home .col-xs-6,
body.home .col-sm-6,
body.home .col-md-6,
body.home .col-lg-6,
body.home .col-xs-7,
body.home .col-sm-7,
body.home .col-md-7,
body.home .col-lg-7,
body.home .col-xs-8,
body.home .col-sm-8,
body.home .col-md-8,
body.home .col-lg-8,
body.home .col-xs-9,
body.home .col-sm-9,
body.home .col-md-9,
body.home .col-lg-9,
body.home .col-xs-10,
body.home .col-sm-10,
body.home .col-md-10,
body.home .col-lg-10,
body.home .col-xs-11,
body.home .col-sm-11,
body.home .col-md-11,
body.home .col-lg-11,
body.home .col-xs-12,
body.home .col-sm-12,
body.home .col-md-12,
body.home .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 2px;
    padding-left: 2px;
}
/*MODAL*/

.modal-body {
    position: relative;
    padding: 30px;
    overflow: hidden;
}
.modal-header {
    padding: 50px 30px 10px 30px;
    border-bottom: none;
}
.modal-footer {
    padding: 0 30px;
    text-align: left;
    border-top: none;
}
.inici_sessio {
    color: #ff6600;
    background: none;
    padding: 15px;
    margin: 0;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
.tancar_modal {
    color: #333;
    background: #ccc;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    outline-offset: 0;
}
label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px
}
.form-control {
    height: 44px;
    background-color: #ffefe5;
    border: none;
    box-shadow: none;
    font-style: normal !important;
}
.form-control:focus {
    border: #fda870 solid 1px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 102, 0, .075), 0 0 8px rgba(255, 102, 0, .3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 102, 0, .3);
}
.form-control.alert {
    border: #ff0000 solid 1px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, .3);
}

.cercasocis{ 
    background-color: #ffefe5; 
    overflow:hidden;
    border-radius: 4px; 
    padding:5px 10px ; 
    margin-bottom:30px
    }

.cercasocis .form-control.cercador {
    margin-top: 7px;
    }
    

.form-control.cercador {
    height: 24px;
    background-color: #ffefe5;
    border: none;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 300;
    font-size: 16px;
    color: #000000
}
.form-control.cercador:focus {
    outline: none;
    box-shadow: none;
}
.form-control.caixa_coment {
    height: 130px;
    overflow: auto;
    border: #ff6600 solid 1px;
    border-radius: 4px;
    margin-bottom: 40px;
    background-color: #FFF
}


input[placeholder], [placeholder], *[placeholder] {
     font-style: italic ;
}
    
/* individual: webkit */

.form-control.caixa_coment::-webkit-input-placeholder {
    font-style: italic;
}
.form-control.caixa_coment::-moz-placeholder {
    font-style: italic;
}
.form-associat .form-control::-webkit-input-placeholder {
    font-style: italic;
}
.form-associat .form-control::-moz-placeholder {
    font-style: italic;
}
.form-control.cercador::-webkit-input-placeholder {
    font-style: italic;
}
.form-control.cercador::-moz-placeholder {
    font-style: italic;
}




.lupa {
    font-size: 1.2em;
    text-align: right;
    padding-top: 0px;
}
.calendari {
    overflow: hidden;
    padding: 0px;
}
#scrollbox3 {
    overflow: auto;
    width: 100% !important;
    padding: 0px 15px;
}

#scrollforum {
    overflow: auto;
    width: 100% !important;
    padding: 0px 15px;
}
.calend {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}
.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}
.handle3 {
    width: 7px;
    right: 0;
    background: #ff6600;
    background: rgba(255, 102, 0, 1);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
    max-height: 100px
}
.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

/*WEATHER*/

.flatWeatherPlugin ul.wiForecasts {  width:80% !important;float:left}

.flatWeatherPlugin ul.wiForecasts li {  width:33% !important;}

.flatWeatherPlugin ul.wiForecasts li.wiDay { border-right:#FFF solid 1px;}

.flatWeatherPlugin ul.wiForecasts li.wiDay:last-child {border-right:none}

.flatWeatherPlugin h2 {
    padding: 5px 0 0 15px!important;
        width: 20%!important;
        float:left;
        font-weight:600;
}
.flatWeatherPlugin.forecast ul.wiForecasts li.wiDay {
    border-bottom:none!important;
        min-height: 60px;

}
.flatWeatherPlugin ul.wiForecasts li > span { 
    padding-left:15px; 
    width: 100%!important; 
    font-weight:500; 
    font-size:13px 
}

.flatWeatherPlugin ul.wiForecasts ul.wiForecast {

    float: left!important;
    width: 100%!important;
    padding-top: 10px!important;
}
.flatWeatherPlugin.forecast ul.wiForecasts ul.wiForecast li.wi{
    text-align: left;
    margin-left: 15px;
    width: 19%!important;
}
button.close, button.close:hover, button.close:focus{
    color: #ff6600;
    opacity: 1
}

#example {
    color: #fff;
    background: #e74c3c;
    padding: 0px;
    margin: 0px auto;
    width: 100%;
}
/*QUI SOM*/

.bgblau {
    padding: 60px 0;
    background-color: #e1f0f0;
    overflow: hidden;
}
.bgTargeta {
    background-image: url(../img/bg-tar.jpg);
    height: 470px;
    padding: 100px 15px 0 15px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 55px;
    color: #ffffff;
    border-radius:6px;
    margin-bottom:20px
}
.sabatilles img {
    width: 100%;
    height: auto;
    max-width: 327px;
    margin-bottom: 15px
}
.sabatilles {
    text-align: center
}
.sabatilles2 img {
    width: 100%;
    height: auto;
    max-width: 279px;
    margin: 18px 0;
}
.tarjanom img {
    width: 100%;
    height: auto;
    max-width: 367px;
    margin-bottom: 15px
}
p.infoad {
    font-size: 18px;
    font-weight: 600
}
.puntsrecollida p {
    font-weight: 300
}
.puntsrecollida a {
    color: #ffcc99;
}
.ubicacio {
    background-image: url(../img/icon-site.png);
    background-repeat: no-repeat;
    padding: 4px 0 15px 30px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600 !important;
    margin-top: 24px;
}
.direccio {
    font-style: italic;
    margin-top: -15px
}
p.enllasos {
    padding-left: 40px
}
.historia {
    background-color: #505050;
    min-height: 474px;
    background-image: url(../img/quisom-historia.jpg);
    background-position: left top;
    background-repeat: repeat-y;
    overflow: hidden;
    padding: 15px 15px 30px 250px;
    color: #fff;
    text-align: justify;
    font-weight: 300;
    border-radius:6px;
}
.histo {
    border-left: #FFF solid 2px;
}
.object {
    color: #339999;
    font-size: 18px;
    overflow: hidden;
    padding-bottom: 30px;
    font-weight:600;
}
.object img {
    max-width: 110px;
}
a.desc-pdf {
    background-image: url(../img/icon-pdf.png);
    padding: 5px 0 0 30px;
    background-repeat: no-repeat;
}
.principi {
    background-color: #fbfbfb;
    padding: 15px 30px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    min-height: 470px;
    text-align: justify;
    margin-bottom: 45px
}
.marbot0{
    margin-bottom:0px}
.marbot45 {
    margin-bottom: 45px
}
.marbot35 {
    margin-bottom: 35px
}
.marbot80 {
    margin-bottom: 80px
}
.martop12 {
    margin-top: 12px
}
.martop20{
    margin-top: 20px
}
.martop30 {
    margin-top: 30px
}
.martop45 {
    margin-top: 45px
}
section {
    padding: 22px 0;
    overflow: hidden
}
section.primera {
    padding: 0 0 20px 0;
    overflow: hidden
}
table.comissio {
    font-size: 16px;
}
.comissio th {
    border-bottom: #8d8d8d solid 2px
}
.comissio td {
    border-bottom: #8d8d8d solid 1px;
    font-weight: 300;

}
.comissio td:first-child {
    color: #339999;
    font-weight: normal
}
.comissio th,
.comissio td {
    padding: 15px 15px 30px 0;
    text-align: left;
    vertical-align: top;
}
.blauverd {
    color: #339999;
}

a.desactivat{ cursor:default; pointer-events:none}

.subquisom{ position:fixed; width:100%;    z-index: 990;}
.submenu {
    background-color: #ff6600;
    padding: 15px 0 0px 0
}
.submenu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: justify;
    line-height: 0.95em;
}
.submenu ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.submenu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight:300
}
.submenu ul li a {
    color: #ffffff
}
.submenu ul li a:focus,
.submenu ul li a:hover {
    text-decoration: none;
    font-weight:600
}
.sep {
    border-top: #339999 solid 1px;
    width: 120px;
    margin: 15px auto 0;
    height: 25px;
}
/*LLISTES*/

ul.interior {
    margin: 0 0 0 0px;
    padding: 0;
   list-style: none
}
ul.interior li {
    margin: 0 0 0 0px;
    padding: 0 0 15px 15px;
   /* font-weight: 300;*/
   /* text-indent: -10px;*/
    background:url(../img/punt.jpg) no-repeat 0 9px;
}
ul.interior li:before {
   /* content: "·";*/
    padding-right: 5px;
    font-size: 20px;
    vertical-align: central
}
/*SABATILLES*/

.bgmarro {
    background-color: #5c4b42;
    overflow: hidden;
    color: #ffffff;
    padding: 30px 0
}
.btn-inclinat {
    background-color: #fff15f;
    font-size: 28px;
    color: #663333;
    -moz-transform: skew(6deg, -6deg);
    -webkit-transform: skew(6deg, -6deg);
    -o-transform: skew(6deg, -6deg);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block;
    margin: 30px auto 30px auto;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.4);
}
img.margin-imatge {
    margin-bottom: 20px
}
.titular-sab {
    font-size: 24px;
    color: #000;
    font-family: 'Arvo', serif;
    padding: 0 0 0px 0;
    color: #5c4b42;
    margin: 0 0 30px 0
}
.bgmarro .titular-sab {
    color: #ffcc99;
    margin: 15px 0 30px 0
}
.donatiu {
    border-left: #cba675 solid 2px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-left: 15px
}
.lloc-donatiu {
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold
}
a.ico-mail,
a.ico-twitter,
a.ico-face {
    padding: 4px 0 18px 50px;
    display: block;
    background-repeat: no-repeat;
    color: #ffffff
}
a.ico-mail {
    background-image: url(../img/icon-mail-small.png);
}
a.ico-twitter {
    background-image: url(../img/icon-twitter-small.png);
}
a.ico-face {
    background-image: url(../img/icon-face-small.png);
}
/*ENTREVISTA*/

.bgblack {
    background-color: #000;
    overflow: hidden;
    padding: 5px 0 0 0;
}
.bgtar2 {
    background-color: #ff9900;
    background-image: url(../img/bg-entrevista.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.entrevista {
    overflow: hidden;
    padding: 30px 0 60px 0;
    color: #FFF;
    width: 100%
}
p.subjecte {
    padding: 0px 0 30px 0;
    font-weight: 600px;
    font-size: 18px
}
h1.nomSubjecte {
    padding: 0px;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 300
}
p.anysSubjecte {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 40px
}
img.perfil_entrev {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0px auto 40px auto;
    display: table
}
.rapides_prev {
    background-color: #d6ebeb
}
.rapides {
    background-color: #ffffff
}
.submenu_entrev {
    background-image: url(../img/icon-corredors.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 5px 65px 5px 0;
    border-bottom: #339999 dashed 1px;
    overflow: hidden;
    margin-bottom: 20px
}
.submenu_entrev.datanot {
    margin-bottom: 5px
}
.submenu_entrev ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: justify;
    line-height: 0.95em;
}
.submenu_entrev ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.submenu_entrev ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 40px;
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 16px
}
.submenu_entrev ul li.entrev1 {
    background-image: url(../img/icon-entrev-men1.png);
}
.submenu_entrev ul li.entrev2 {
    background-image: url(../img/icon-entrev-men2.png);
}
.submenu_entrev ul li.entrev3 {
    background-image: url(../img/icon-entrev-men3.png);
}
.submenu_entrev ul li.entrev4 {
    background-image: url(../img/icon-entrev-men4.png);
}
.submenu_entrev ul li.entrev5 {
    background-image: url(../img/icon-entrev-men5.png);
}
.submenu_entrev ul li a {
    color: #000000
}
.submenu_entrev ul li a:focus,
.submenu_entrev ul li a:hover {
    text-decoration: none;
    color: #ff6600;
}
section.questions h2 {
    font-weight: 600;
    font-size: 18px;
    color: #339999;
    margin: 0;
    padding: 0 0 24px 0
}
.bgblanc {
    background-color: #FFF;
    overflow: hidden
}
.bgclock {
    background-color: #d6ebeb;
    background-image: url(../img/bg-blanc.jpg);
    background-repeat: repeat-y;
    overflow: hidden;
}
.clock img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 30px 0 30px 15px
}
.imatges_entrev {
    background-size: cover;
    position: relative
}
.peu_foto {
    padding: 10px 15px 5px 15px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    height: 60px;
    margin: 0;
    display: table;
    vertical-align: bottom;
    border: #FFF solid 4px;
    border-top: 0px;
    z-index: 20
}
section.qualicat .peu_foto {
    padding: 5px 15px 5px 15px;
    height: 50px;
}
.peu_foto div {
    display: table-cell;
    vertical-align: bottom;
}
.imatges_entrev img {
    border: #FFF solid 4px
}
.col-50-1 {
    padding: 0 0 0 15px;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    float: left
}
.col-50-2 {
    padding: 0 15px 0 0px;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    float: left
}
.bgcrema {
    width: 100%;
    overflow: hidden;
    padding: 170px 0;
    background-color: #ffd596;
    font-size: 60px;
    color: #339999;
    font-family: 'Arvo', serif;
    text-align: center;
    background-image: url(../img/img-cercle.gif);
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 45px
}
.bloc-comment {
    width: 100%;
    overflow: hidden;
    padding: 0 0 30px 0;
    margin-bottom: 30px;
    border-bottom: #cacaca solid 1px
}
.num-comment {
    padding: 4px 0;
    overflow: hidden;
    display: block;
    margin-bottom: 30px
}
a.like {
    padding: 0 4px;
    overflow: hidden;
    display: block
}
a.mostraresposta {
    padding: 0 20px;
    overflow: hidden;
    display: block
}
.resposta {
    display: none;
    padding: 0px 0 15px 0;
    overflow: hidden;
    margin-bottom: 15px
}
.bloc-comment .img-circle {
    margin-right: -5px
}
.paginacio-entrevista{
    color: #ff6600
}
.paginacio-entrevista strong{
    color: #333
}
.paginacio-entrevista a img{
    top: -2px;
    position: relative;
}

/*ASSOCIAT*/

.bg-associat {
    background-color: #339999;
    background-image: url(../img/bg-top-blanc.gif);
    background-position: 0 -22px;
    background-repeat: repeat-x
}
section.questions.associat .container {
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 0 0 4px 4px
}
section.questions.associat.ranking .container {
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 0 4px 4px
}
section.questions.associat {
    padding: 0 0 22px 0
}
section.questions.associat.editar {
    padding: 22px 0 22px 0
}
section.questions.associat h1 {
    color: #339999;
    font-size: 40px;
    padding: 40px 0 40px
}
section.questions.associat h2{
    color: #000000;
    border-bottom: #000 solid 1px;
    padding: 45px 0 15px 0;
    margin-bottom: 30px;
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 23px
}

section.cistella h2{
    color: #000000;
    border-bottom: #000 solid 1px;
    padding: 0px 0 15px 0;
    margin-bottom: -6px;
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 23px
}
.iniciar-pagament{
    margin-left: 14px
}
.desactivat{
    pointer-events:none!important;
    opacity: 0.25!important;
}
h2 small {
    color: #000000;
}
section.questions.associat h2.tit-ass {
    border-bottom: none;
    font-size: 32px;
    padding: 0px 0 15px 0;
}
section.questions.associat h3.subtit-ass {
    font-size: 30px;
    padding: 0px 0 60px 0;
    color: #339999;
}
section.questions.associat h3.subtit-ass span {
    font-weight: 600
}
.form-associat .form-control {
    margin-bottom: 30px;
}
.form-associat .form-control.cuenta {
    margin-bottom: 15px;
}
.form-associat .form-control.cuentatot {
    background-color: #FFF;
    border: #F60 solid 1px;
    padding: 6px 2px;
    background-image: url(../img/fons_cv.png);
    background-repeat: repeat;
    float: left;
    margin-right: 28px;
    letter-spacing: 16.9px;
    text-indent: 6px;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    font-weight: 600
}
.perfil-editar .form-associat .form-control.cuentatot {
    background-color: #FFF;
    border: #F60 solid 1px;
    padding: 6px 2px;
    background-image: url(../img/fons_cv_2.png);
    background-repeat: repeat;
    float: left;
    margin-right: 28px;
    letter-spacing: 11.9px;
    text-indent: 4px;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    font-weight: 600
}
.form-associat .form-control.cuentatot:not(*:root) {
    letter-spacing: 16.5px;
}
.perfil-editar .form-associat .form-control.cuentatot:not(*:root) {
    letter-spacing: 11.5px;
}
.form-associat .btn-default {
    float: right
}
.tarifes {
    border-radius: 4px;
    border: #339999 solid 1px;
    padding: 12px 10px 15px 15px;
    overflow: hidden;
    color: #339999;
}
.tarifes .tarifes-all {
    font-size: 28px;
    text-align: right;
    padding-right: 30px;
}
.tarifes .tarifes-all small {
    font-size: 16px;
    font-weight: 300;
}
.cap-asso {
    width: 100%;
    height: 260px;
    display: table;
    background-position: center;
    background-size: cover;
    background-image: url(../img/bg-top-associat.jpg);
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.cap-asso-tit {
    width: 100%;
    height: 100%;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    color: #fff;
    font-size: 44px;
    text-align: center;
    font-family: 'Arvo', serif;
}
.cap-asso-tit img {
    width: 100%;
    height: auto;
    max-width: 89px;
}
.form-associat label span {
    color: #339999;
}
/*chekbox*/

input[type='checkbox'].checknou {
    opacity: 0;
    float: left;
    width: 36px;
    height: 36px;
    position: absolute
}
input[type='checkbox'].checknou + label {
    margin: 0;
    clear: none;
    padding: 7px 0 7px 45px;
    cursor: pointer;
    background: url(../img/off.png) left center no-repeat;
}
input[type='checkbox'].checknou:checked + label {
    background-image: url(../img/check.png);
}
/*PERFIL*/

.titol-taula, section.questions.associat h2.titol-taula{
    margin-bottom: 12px
}
.boto-taula{
    padding-right: 0!important;
}
.container.compte {
    padding: 35px 30px 35px 60px;
    max-width: 700px;
    overflow: hidden
}
.container.compte2 {
    padding: 45px 30px 60px 60px;
    max-width: 700px;
    border-radius: 4px !important
}
.container.compte2.padbot30 {
    padding: 0px 30px 30px 60px;
}
.container.compte table td {
    padding: 15px 0px;
}
a.edit-dades {
    background-image: url(../img/icon-edit.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 1
}
a.edit-dades:hover {
    cursor: pointer
}
.cap-perfil {
    width: 100%;
    padding: 50px 0 30px 60px !important;
    margin-top: 22px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/bg-top-perfil.jpg);
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    position: relative;
    color: #fff;
}
.cap-perfil-tit {
    width: 100%;
    overflow: hidden;
    font-size: 44px;
    font-family: 'Arvo', serif;
    line-height: 1.2em;
}
.cap-perfil-num {
    font-size: 22px;
    line-height: 1.2em;
}
.cap-perfil-num small {
    font-size: 12px;
}
.cap-perfil-tit img {
    width: 100%;
    height: auto;
    max-width: 80px;
    margin-bottom: 15px
}
.targeta {
    background-image: url(../img/targeta-front.png);
    background-size: cover;
    position: relative;
    text-align: left;
    margin-bottom: 50px
}
.targeta .soci_num {
    position: absolute;
    bottom: 0;
    padding: 0 15px 15px 60px;
    color: #fff;
    font-size: 30px;
}
.targeta .validfins {
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
.targeta .soci_nom {
    font-size: 26px;
    font-weight: 600
}
/*FORUM*/

section.forumpag {
    background-color: #5c5c5c;
    padding-bottom: 45px
}
.bloc-forum {
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px
}
.bloc-forum-dins {
    padding: 15px;
    overflow: hidden;
    font-size: 15px
}
.top-forum {
    overflow: hidden;
    padding: 12px 15px;
    color: #FFF;
    background-color: #F93;
    font-size: 14px;
    font-family: 'Arvo', serif;
    font-weight: 600
}
h1.titular.deuforum {
    font-size: 16px;
    background: rgba(255, 102, 0, 0.1);
    height: auto;
    margin: 0 0 0px 0;
}
h3.tipusforum {
    border-bottom: #d7d4d5 solid 1px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 14px;
    line-height: 1.45em;
    color: #333333;
    margin: 0;
    padding: 15px 10px 15px 45px
}
h3.tipusforum span {
    float: right;
    color: #F93;
    font-weight: bold
}
h3.tipusforum.llebres,
.bg-grisclar.llebres {
    background-image: url(../img/icon-forum-llebres.png)
}
h3.tipusforum.notis,
.bg-grisclar.notis {
    background-image: url(../img/icon-forum-notis.png)
}
h3.tipusforum.novacursa,
.bg-grisclar.novacursa {
    background-image: url(../img/icon-forum-novacursa.png)
}
h3.tipusforum.sorteig,
.bg-grisclar.sorteig {
    background-image: url(../img/icon-forum-sorteig.png)
}
.bg-grisclar {
    background-color: #f5f5f5;
}
.bg-associat.forumpag .bg-grisclar {
    padding: 10px 40px 10px 15px;
    font-size: 13px;
    background-position: center right;
    background-repeat: no-repeat;
    border-right: #f5f5f5 solid 10px
}
.bg-associat.forumpag .bg-grisclar img {
    margin: 0 15px 0px 0;
}
.bg-associat.forumpag .bg-grisclar.senseicon {
    padding: 15px 5px 15px 15px;
}
p.tags {
    display: block;
    float: right;
    background-image: url(../img/tag.png);
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
}
.btn-blanc {
    width: 100%;
    background-color: #FFF;
    color: #ff6600;
    margin-bottom: 15px
}
.btn-blanc:hover {
    background-color: #ff6600;
    color: #fff;
}
.cap-perfil-edit {
    width: 100%;
    padding: 50px 0 30px 60px !important;
    margin-top: 22px;
    background-color: #FFF;
    border-bottom: #000 solid 1px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    position: relative;
    color: #000;
}
.cap-perfil-edit img {
    margin-bottom: 15px
}
a.dispositiu {
    display: inline-block;
    padding: 10px 0 10px 40px;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600
}
a.dispositiu:hover {
    text-decoration: underline
}
a.dispositiu.android {
    background-image: url(../img/icon-pefil-android.png)
}
a.dispositiu.ios {
    background-image: url(../img/icon-pefil-ios.png)
}
a.dispositiu.pdf {
    background-image: url(../img/icon-pefil-pdf.png)
}
.taula {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 30px;
    overflow-y: hidden;
}

.taula-comi {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 30px;
    overflow-y: hidden;
}
.taula table {
    border-bottom: #333 solid 2px;
}

.taula.taulasocis table {
    border-bottom:none;
}
.taula table th {
    padding: 0 5px 14px 5px;
    border-bottom: #333 solid 2px;
}

.taula.taulasocis table th {
    padding: 5px 5px 5px 5px;
    border-bottom: #339999 dashed 1px;
    border-top: #339999 dashed 1px;
}
.taula table tfoot th {
    padding: 20px 5px 20px 5px;
    border-top: #333 solid 2px;
}
section.cistella .taula table th {
    border-bottom: #333 solid 1px;
    padding: 15px 5px 10px 5px;
}
section.cistella .taula table tfoot th {
    border-top: #333 solid 1px;
    padding: 20px 5px 20px 5px;
}
section.cistella .taula table {
    border-bottom: #333 solid 1px;
}


.taula table td {
    padding: 10px 5px;
    vertical-align:middle
}
.taula table th a {
    color: #000
}
.taula table a .caret {
    color: #ff6600;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.taula tbody tr:nth-child(even) {
    background-color: #e9f7f7;
}
.ranking {
    color: #339999
}
.no_sortejat {
    font-style: italic;
    color: #999
}
.sortejat {
    color: #339999;
    font-weight: 600
}
.padbot60 {
    padding-bottom: 60px
}
.padbot30 {
    padding-bottom: 30px
}
.padbot0 {
    padding-bottom: 0px
}
.padbot15{
    padding-bottom: 15px
}
/*EN XARXA*/

.top-xarxes {
    background-color: #ff9900;
    padding: 15px 0 15px 0;
    color: #fff
}
.top-xarxes h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}
.mostra-filtre {
    width: 100%;
    display: block;
    text-align: right;
    position: relative;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    padding-top: 10px
}
ul.filtre-xarxes {
    display: none;
    padding: 10px 0 0 0;
    position: absolute;
    right: 0;
    top: 30px;
    list-style-type: none;
}
ul.filtre-xarxes li a {
    background-color: #F90;
    color: #fff;
    display: block;
    min-width: 180px;
    padding: 0px 28px 15px 15px;
    text-transform: uppercase;
    font-size: 14px;
}
/*RANKING*/

.top-ranking {
    background-color: #ff9900;
}
.top-ranking h1 {
    color: #fff;
    padding: 100px 0 100px 0;
    background-image: url(../img/icon-ranking.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 0;
    font-family: 'Arvo', serif;
}
.top-ranking.top-notis h1 {
    background-image: url(../img/icon-notis-top.png);
}
.top-ranking.top-reptes h1 {
    background-image: url(../img/icon-reptes-top.png);
}
.top-ranking.top-clinics h1 {
    background-image: url(../img/icon-clinics-top.png);
}
.top-ranking.top-entrena h1 {
    background-image: url(../img/icon-entrena-top.png);
}
.top-ranking.top-qualicat h1 {
    background-image: url(../img/icon-qualicat-top.png);
}
.top-ranking.top-llebres h1 {
    background-image: url(../img/icon-llebres-top.png);
}
.top-ranking.top-proves h1 {
    background-image: url(../img/icon-proves-top.png);
}
.top-ranking.top-cistella h1 {
    background-image: url(../img/icon-cistella-top.png);
}
.top-ranking.top-pagament h1 {
    background-image: url(../img/icon-pagament-top.png);
}

.top-ranking.top-llistasocis{
    background-image: url(../img/bg-llista.png);
    background-position:center bottom
}

.top-ranking.top-llistasocis h1{
    background-image:none;
}
.select-style {
    overflow: hidden;
    background: url("img/arrowdown.png") no-repeat 98% 50%;
    height: 44px;
    background-color: #ffefe5;
    border-radius: 4px;
    margin-bottom: 30px
}
.select-style select {
    width: 100%;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 0px;
    padding-right: 40px;
}
#scrollranking {
    height: 300px;
    width: 100%!important;
}
.taula-top,
.taula-scroll {
    width: 100%;
}
/*NOTICIES*/

.data-noti {
    color: #339999;
    font-size: 14px;
    padding: 25px 0 0 0
}
.noticiesbloc {
    background: url(../img/icon-notis.png) no-repeat 0px 25px;
    padding: 1px 0 30px 70px;
}
.noticiesbloc h1 {
    color: #339999;
    font-family: 'Arvo', serif;
    padding-bottom: 20px;
}
.noticiesbloc h1 span {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}
.noticiesbloc h2 {
    font-size: 24px;
}
.imat-noti-top {
    width: 100%;
    border-bottom: #339999 solid 10px;
    margin-bottom: 15px;
    overflow: hidden
}
.imat-noti-top img,
.imat-noti img {
    width: 100%;
    height: auto;
}
.imat-noti {
    width: 100%;
    position: relative;
}
.imat-noti .peu_foto {
    border: 0 !important;
    background: rgba(51, 51, 51, 0.6);
}
.pagines {
    float: right;
    width: auto;
    overflow: hidden;
    height: 40px;
    display: table;
    vertical-align: middle;
}
.pagines-dins {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}
.pagines i {
    font-size: 22px;
    padding: 0 10px;
}
/*SERVEIS*/

section.serveis {
    padding: 50px 0 0px 0
}
.repte {
    overflow: hidden;
    padding-top: 110px;
    background: url(../img/icon-reptes.png) no-repeat center top;
}
.repte.clinic {
    background: url(../img/icon-clinics.png) no-repeat center top;
}
.repte h1 {
    color: #339999;
    font-family: 'Arvo', serif;
    padding-bottom: 20px;
    border-bottom: #339999 solid 1px;
    margin-bottom: 30px;
}
.repte h1.titular-form {
    font-size: 24px;
    color: #000;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 15px
}
.repte h2 {
    color: #339999;
    font-family: 'Arvo', serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
.blocrepte {
    background-color: #f5fafa;
    padding: 30px 15px;
    overflow: hidden;
    margin: 30px 0 30px 0
}
.blocrepte h3 {
    color: #339999;
    font-size: 42px;
    padding-bottom: 30px;
    font-weight: 300;
}
p.tit-dades {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0
}
p.dades-repte {
    font-size: 30px;
    font-weight: 300;
    color: #339999;
    margin-bottom: 10px
}
section.serveis .cap-asso {
    border-radius: 4px;
    padding: 50px 20%;
    height: auto;
    margin-bottom: 45px
}
section.serveis .cap-asso-tit {
    font-size: 24px;
    line-height: 1.2em;
}
section.serveis .cap-asso-tit span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px
}
section.serveis.botiga .cap-asso {
    border-radius: 0px;
    padding: 50px 10% 40px 10%;
    height: auto;
    margin-bottom: 0px;
    border: #339999 solid 20px;
}
section.serveis.botiga .cap-asso-tit {
    font-size: 32px;
    line-height: 1.2em;
}
section.serveis.botiga .cap-asso-tit p.subtit-botiga {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}
.martop45 {
    margin-top: 40px !important
}
.marbot0 {
    margin-bottom: 0px !important
}
.marbot24 {
    margin-bottom: 24px !important
}

.marbot20 {
    margin-bottom: 20px !important
}
.marbot30 {
    margin-bottom: 30px !important
}
.marbot60 {
    margin-bottom: 60px !important
}
/*ENTRENADORS*/

.entrenador {
    background-color: #FFF;
    padding: 50px 40px;
    border: #e4e8e8 solid 1px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}
.imat-entrena {
    position: absolute;
    top: 50px;
    left: 30px;
    width: auto;
}
.tit-entrena {
    color: #339999;
    font-family: 'Arvo', serif;
    padding: 0px 0 10px 100px;
    margin: 0px;
    font-size: 20px;
    border-bottom: #339999 solid 1px
}
.nom-entrena {
    color: #339999;
    font-family: 'Arvo', serif;
    padding: 10px 0 45px 100px;
    margin: 0px;
    font-size: 36px;
}
.preus-mensuals {
    background: url(../img/icon-entrena-preus.png) no-repeat 0 30px;
    overflow: hidden;
    padding: 24px 0 60px 75px;
    width: 100%
}
.tipus-entreno {
    padding: 0px 0px;
    position: relative;
    margin-bottom: 20px;
}
.tipus-entreno-tit {
    font-family: 'Arvo', serif;
    font-style: italic;
    border-bottom: #339999 dashed 1px;
    padding-right: 100px;
    overflow: hidden;
    font-size: 24px;
    margin-bottom: 6px;
    padding-bottom: 2px;
    margin-right: 20px;
}
.tipus-entreno-data {} .tipus-entreno-preu {
    position: absolute;
    top: -22px;
    right: 0px;
    width: auto;
    padding: 0 30px 0 0;
    background: url(../img/icon-entrena.png) no-repeat right 14px;
    z-index: 10;
    font-size: 48px;
    font-family: 'Arvo', serif;
    color: #339999;
    min-height: 75px;
}
.bgblau2 {
    background-color: #339999;
    overflow: hidden;
}
section.entrena-inf {
    padding: 60px 0 20px 0;
    overflow: hidden;
    color: #ffffff;
}
section.entrena-inf p span {
    font-size: 24px;
    font-family: 'Arvo', serif;
}
section.entrena-inf p {
    line-height: 1.2em;
    padding-bottom: 40px
}
/*QUALICAT*/

section.qualicat {
    padding-bottom: 60px
}
section.qualicat.curses {
    padding-bottom: 10px
}
.logo-qualicat {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ;
    width: auto;
    opacity: 0;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    /* ...and now for the proper property */
    
    transition: .1s;
    z-index: 19
}
section.curses .imat-noti {
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: cover
}
section.curses .peu_foto {
    border-radius: 0 0 4px 4px !important
}
section.curses .imat-noti:hover .logo-qualicat {
    opacity: 1;
}
section.qualicat.valora h1 {
    border-bottom: #000 solid 1px;
    padding-bottom: 15px
}
section.valora td.valor {
    color: #669966;
    font-size: 45px;
    font-family: 'Arvo', serif;
}
section.valora td {
    font-size: 14px;
    vertical-align: middle
}
section.valora td img {
    float: left;
    display: block;
}
section.valora td span img {
    opacity: 0.25 !important
}
section.valora td.valor-cursa span {
    color: #999
}
section.valora td.valor-cursa,
section.valora td.valor-pastanaga {
    min-width: 210px !important
}
.carrega-valoracions{
    font-size: 14px
}
.envia-miss-privat{
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
h1.cerca-curses {
    text-align: center;
    margin-bottom: 45px;
    display: table;
    height: 74px;
    vertical-align: middle;
    width: 100%
}
h1.cerca-curses div {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
h1.cerca-curses img {
    width: 74px;
    height: auto
}
.cerca-form {
    background-position: 20px 23px;
    background-repeat: no-repeat;
    padding: 0 0 0 100px;
    overflow: hidden;
    margin-bottom: 30px;
}
.cerca-form.cerc1 {
    background-image: url(../img/icon-qualicat1.png)
}
.cerca-form.cerc2 {
    background-image: url(../img/icon-qualicat2.png)
}
.cerca-form.cerc3 {
    background-image: url(../img/icon-qualicat3.png)
}
.cerca-form.cerc4 {
    background-image: url(../img/icon-qualicat4.png)
}
.cerca-form.cerc5 {
    background-image: url(../img/icon-qualicat5.png)
}
/*ENQUESTES*/

section.enquestes {
    color: #FFF
}
section.enquestes h1 {
    position: relative;
    font-family: 'Arvo', serif;
    padding-bottom: 15px;
    border-bottom: #FFF solid 1px;
    padding: 50px 25px 10px 100px;
    margin: 0 40px 2px 20px;
}
.logo-qualicat2 {
    position: absolute;
    left: -20px;
    top: 20px;
    background-color: #339999;
}
.logo-qualicat2 img {
    width: 102px;
    height: auto
}
.icon-qualicat {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #339999;
}
.icon-qualicat img {
    width: 59px;
    height: auto
}
section.enquestes .imat-noti {
    border-radius: 4px;
    background-size: cover;
}
.label-valora {
    color: #a1c9c9;
    padding-bottom: 15px
}
.label-valora-item {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 45px
}
.padright40 {
    padding: 0px 70px 30px 0px;
}
.valor-pastanaga-blanc {
    float: right;
    width: 100%
}
.past-blanc img {
    width: 38px;
    height: auto;
    float: left;
}
.past-blanc span img {
    opacity: 0.25 !important
}
.past-blanc {
    min-width: 200px;
    display: inline-block;
    float: right;
}
.num-valor {
    float: right;
    font-size: 40px;
    font-family: 'Arvo', serif;
}
.form-control.comenta-valor {
    height: 160px;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
    border: #FFF solid 1px
}
.form-control.comenta-valor:focus {
    border: #fff solid 1px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
}
section.valora .radios {
    padding-bottom: 45px;
    text-align: center
}
.pregunta span {
    color: #339999;
    font-weight: bold;
}
/*LLEBRES*/

.temps-objectiu {
    background: url(../img/llebres-temps.png) no-repeat 0 5px;
    overflow: hidden;
    padding: 0px 0 0px 75px;
    width: 100%;
    min-height: 410px
}
.tipus-entreno.llebres {
    background: url(../img/icon-llebres.png) no-repeat right top;
    margin-bottom: 25px;
}
.tipus-entreno.llebres.llebre1 {
    width: 30%
}
.tipus-entreno.llebres.llebre2 {
    width: 40%
}
.tipus-entreno.llebres.llebre3 {
    width: 50%
}
.tipus-entreno.llebres.llebre4 {
    width: 60%
}
.tipus-entreno.llebres.llebre5 {
    width: 70%
}
.tipus-llebre-tit {
    font-family: 'Arvo', serif;
    font-style: italic;
    border-bottom: #339999 dashed 1px;
    overflow: hidden;
    font-size: 24px;
    margin-bottom: 6px;
    padding-bottom: 2px;
    margin-right: 48px
}
section.serveis-llebres {
    padding: 60px 0 0px 0
}
.tit-prova {
    font-size: 30px;
    color: #339999;
    padding-bottom: 24px;
    font-weight: 600
}
.tit-preu-modal {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 15px !important;
    text-align: right;
    margin-top: -12px
}
.tit-prova2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    overflow: hidden
}
section.entrena-inf .infosorteig {
    overflow: hidden;
    display: none;
    color: #000
}
#bx-pager {
    padding-bottom: 30px;
    overflow: hidden
}
#bx-pager a {
    width: 70px;
    height: 70px;
    border: #cacaca solid 1px;
    display: inline-block;
    float: left;
    margin: 10px 10px 0px 0
}
#bx-pager a:last-child {
    margin: 10px 0px 0px 0
}
#bx-pager a img,
#bx-pager2 a img {
    width: 70px;
    height: 70px;
}
#sliderSortejos .bx-wrapper .bx-viewport {
    border: #cacaca solid 1px;
    width: 98%!important
}
.bx-wrapper{
    margin-bottom: 0px!important
}
.infosorteig h2,
#myProduct h2 {
    font-size: 16px;
    border-bottom: #000 solid 1px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-weight: bold
}
img.logo-sponsor {
    width: 100%;
    height: auto;
    max-width: 200px
}
/*BOTIGA*/
.modal.in .modal-dialog{
    margin-top: 30px;
    margin-bottom: 30px;
}
section.serveis.botiga {
    padding: 0px 0 60px 0
}
.cap-cistella {
    padding: 15px 0 15px 0;
    border-bottom: #cacaca solid 1px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: right;
}
.items-cistella {
    background: url(../img/icon-cistella2.png) no-repeat 24px 0px;
    padding: 17px 0 0 0;
    text-align: center;
    width: 100px;
    font-size: 11px;
    display: inline-block;
    float: right
}
.items-cistella span {
    color: #ff6600;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
}
a.filtre-prods {
    float: right;
    display: inline-block;
    padding: 0 0 0 30px;
    color: #000
}
a.filtre-prods span.caret {
    color: #F60;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.panel-group {
    border-top: #cacaca solid 1px;
    border-radius: none
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    display: block;
    padding: 15px 6px 15px 0;
    border-radius: none
}
.panel-group .panel {
    border-radius: 0px!important
}
.panel-default {
    border: none;
    box-shadow: none;
    border-bottom: #cacaca solid 1px;
    border-radius: 0px!important
}
.panel-default>.panel-heading {
    padding: 0px 0px;
    background: none;
    border-radius: 0px!important
}
.panel-body a {
    display: block;
    padding: 15px 15px 15px 25px;
    overflow: hidden;
    font-size: 14px;
    color: #000
}
.panel-body a:hover {
    font-weight: 600;
    color: #000
}
.panel-body {
    padding: 0;
}
/* Icon when the collapsible content is shown */

.panel-title > a:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
    float: right;
    font-size: 18px;
    color: #F60
}
/* Icon when the collapsible content is hidden */

.panel-title > a.collapsed:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    font-size: 18px
}
.producte {
    height: 92px
}
.bloc-prod td {
    padding: 0 10px 0 10px;
}
td.prod-preu {
    border-right: #d7d4d5 solid 1px;
    font-size: 18px;
    font-weight: 300;
    width:1%;
    white-space:nowrap;
    height: 31px;
}
td.prod-dispon {
    font-size: 10px;
    color: #999
}
td.prod-dispon span {
    font-size: 12px;
    color: #000
}
td.prod-dispon2 {
    font-size: 12px;
    color: #339933;
    font-weight: 300;
}
.bloc-prod {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
}
.imat-prod {
    border: #ffffff solid 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.imat-prod img {} .producte h1 {
    height: 50px;
    display: table;
    vertical-align: middle;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    font-weight: 600;
    text-align: left;
    border-top: #d7d4d5 solid 1px;
    width: 100%;
}
.producte h1 div {
    height: 100%;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
}
.mes-menys {
    font-size: 26px;
    padding-top: 5px
}
.taula table.taula-cistella th {
    font-size: 15px;
    font-weight: normal;
    text-align: inherit
}
.taula table.taula-cistella th.top-taula-prod {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    font-family: 'Arvo', serif;
}

.taula table.taula-cistella th.bottom-taula-prod {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    line-height:0.8em;
}
.taula table.taula-cistella th.bottom-taula-prod span {
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color:#000
}
.taula.taula-cistella table tfoot th {
    vertical-align: top;
}

.taula.taula-cistella table td {
    vertical-align: middle;
    padding: 12px 5px
}
.cistella-nomprod{
    font-weight: 300;
    font-size: 16px
}
section.cistella {
    padding: 60px 0
}
.variar {
    width: 25%;
    text-align: center;
    display: inline-block;
    margin-top: -5px;
    padding-top: 0px;
    vertical-align: middle;
}
.form-variar {
    width: 40px;
    display: inline;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: solid #bbb 1px;
}
td.thum-prod {
    font-weight: 600;
}
td.thum-prod span {
    font-size: 12px;
    color: #339933
}
td.thum-prod span.gris {
    font-size: 12px;
    color: #999
}
.gris {
    color: #999
}
.vermell{ 
    color:#cc3333
    }
.thum-prod-img {
    width: 60px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    margin-right: 15px;
    background-color: #FFF;
    margin-left: 10px;
}
.thum-prod-img img {
    width: 100%;
    height: auto
}
.cistella-buida{ width: 100%; padding:8% 0; font-size:24px; color:#666}






@media (min-width: 768px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }
    .modal-dialog {
        width: 600px;
        margin: -5px auto;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .modal-dialog.myProduct {
        width: 750px;
    }
}
@media (max-width: 1200px) {
    .submenu_entrev ul li {
        font-size: 14px !important
    }
}
@media (max-width: 990px) {
    
    body {
        padding: 100px 0 0px 0;
    }
    .bg-associat {
        background-position: 0 -30px;
    }
    ul.bxslider2 li {
       /* margin: 0 30px 0 0!important;*/
    }
    .submenu {
        padding: 15px 0 5px 0
    }
    .submenu ul {
        font-size: 13px
    }
    ul.interior li,
    .principi p {
        font-size: 15px;
        padding-bottom: 10px
    }
    .principi {
        min-height: 500px;
    }
    .histo {
        font-size: 14px
    }
    .historia {
        min-height: 474px;
        padding: 15px 15px 30px 150px;
        background-position: -100px top
    }
    a.mostraform {
        padding-right: 6px
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 0px 6px;
        font-size: 14px;
        color: #000
    }
    .logo {
        left: 0;
        width: 200px;
    }
    .forum {
        height: 308px;
    }
    .calendari {
        height: 308px;
    }
    #scrollbox3 {
        height: 250px;
    }
    .calend {
        font-size: 14px;
    }
    h1.mes {

        padding: 10px 0 0 0;
    }
    .submenu_entrev ul li {
        font-size: 13px !important
    }
    .bgtar2 {
        background-position: left bottom;
    }
    h3.tipus {
        height: 62px;
        font-size: 12px;
        line-height: 1.2em;
        margin: 0;
        padding: 12px 30px 0 0
    }
    .bloc-forum-dins.toog {
        font-size: 11px
    }
    .tarifes .tarifes-all {
        font-size: 23px
    }
    .noticiesbloc {
        background-size: 38px;
        padding: 1px 0 30px 50px;
    }
    section.serveis .cap-asso {
        padding: 50px 10%;
    }
    .icon-qualicat {
        top: 10px;
    }
    .entrenador.grafica {
        padding: 15px 15px;
    }
    .quisom .histo{
        width: 75%
    }
}
@media (max-width: 767px) {
    
    .subquisom{ 
        position:relative; 
    }
    .bgTargeta {
        height: 550px;
        padding: 50px 15px 0 15px;
    }
    
    section.serveis.botiga .cap-asso {
        padding: 30px 15px 30px 15px;
    }
    section.serveis.botiga .cap-asso-tit {
        font-size: 24px;
        line-height: 1.2em;
    }
    section.serveis.botiga p.subtit-botiga {
        text-align: center!important;
        font-size: 13px !important;
        line-height: 1.3em;
    }
    section.valora .radios {
        text-align: left;
        border-bottom: #F90 dotted 1px;
        padding-bottom: 25px;
        margin-bottom: 15px
    }
    .icon-qualicat,
    .padright40 {
        display: none
    }
    .logo-qualicat2 {
        left: 0px;
        top: 0
    }
    .logo-qualicat2 img {
        width: 80px;
    }
    .valor-pastanaga-blanc {
        padding-top: 20px;
        overflow: hidden;
        position: absolute;
        font-size: 38px;
        width: auto
    }
    .past-blanc {
        float: left;
    }
    section.enquestes h1 {
        padding: 90px 0px 10px 0px;
        margin: 0 0px 70px 0px;
        font-size: 32px;
    }
    img.imat-cursa {
        height: 120px;
    }
    .cerca-form {
        background-position: 0px 20px;
        padding-left: 60px
    }
    h1.cerca-curses img {
        width: 60px;
    }
    section.valora td.valor {
        font-size: 32px;
    }
    section.valora td.valor-cursa {
        font-size: 13px;
    }
    .entrenador {
        padding: 15px 15px;
    }
    .tipus-entreno-preu {
        top: 0px;
        font-size: 32px;
        position: relative;
        background: none
    }
    .preus-mensuals {
        padding: 24px 0 30px 75px;
    }
    .imat-entrena {
        position: relative;
        top: 0px;
        left: 0px;
    }
    .tit-entrena {
        padding: 0px 0 10px 0px;
    }
    .nom-entrena {
        padding: 10px 0 30px 0px;
        font-size: 32px;
    }
    section.serveis {
        padding: 20px 0 0px 0;
    }
    .repte h1 {
        font-size: 32px
    }
    .blocrepte h3 {
        font-size: 36px
    }
    section.serveis .cap-asso {
        height: auto;
        padding: 30px 15px;
    }
    .noticiesbloc {
        background: url(../img/icon-notis.png) no-repeat 0px 0px;
        background-size: 25px;
        padding: 0px 0 30px 0px;
    }
    .noticiesbloc h1 {
        font-size: 30px;
        text-indent: 30px
    }
    .noticiesbloc h1 span {
        font-size: 18px;
    }
    #scrollranking {
        height: auto !important;
        overflow: visible!important;
    }
    .select-style {
        margin-bottom: 30px;
    }
    .copyright {
        text-align: center;
        padding-top: 15px;
        font-size: 0.8em
    }
    .xarxes {
        text-align: left;
    }
    a.dispositiu {
        margin-bottom: 20px
    }
    .tarifes .tarifes-all {
        font-size: 26px
    }
    .bloc-forum-dins.toog {
        font-size: 13px
    }
    .titular-prods.emtrev {
        font-size: 30px;
    }
    h1.nomSubjecte {
        font-size: 36px;
    }
    p.anysSubjecte {
        font-size: 30px;
    }
    .num-comment {
        margin-bottom: 15px
    }
    .form-control.caixa_coment {
        margin-bottom: 25px;
    }
    .bgcrema {
        padding: 100px 0;
        font-size: 40px;
        background-size: 40%;
    }
    .col-50-1,
    .col-50-2 {
        padding: 0 15px 0 15px;
        width: 100%;
    }
    .bgclock {
        background-image: none;
    }
    .clock img {
        margin: 15px 0 30px 0px
    }
    .submenu_entrev ul li {
        padding: 15px 0px 15px 40px;
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 14px !important
    }
    #navbar {
        overflow-y: auto
    }
    .navbar-fixed-top {
        max-height: 400px;
        background: rgba(255, 255, 255, 1);
    }
    .navbar-nav {
        padding-bottom: 15px;
    }
    .nav > li > a {
        padding: 10px 15px;
        font-size: 14px;
    }
    h3.tipus {
        height: auto;
        overflow: hidden;
        padding-bottom: 10px
    }
    .donatiu {
        margin-bottom: 30px;
    }
    .lloc-donatiu {
        margin-bottom: 15px;
    }
    .donatiu p {
        padding-bottom: 15px
    }
    .submenu ul {
        display: block;
        font-size: 12px
    }
    .submenu ul li {
        padding: 10px 10px;
        display: inline-block;
        width: 50%;
        float: left
    }
    .forum {
        height: auto;
    }
    .calendari {
        height: auto !important;
    }
    #scrollbox3,
    #scrollforum {
        height: auto !important;
    }
    .calend {
        font-size: 14px;
    }
    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: #ffefe5;
    }
    body {
        padding: 65px 0 0 0;
    }
    .navbar-collapse {
        width: 100%;
    }
    .destacat img {
        max-height: 240px;
    }
    .logo {
        left: 15px;
        width: 180px;
        top: 0px;
    }
    .inici_sessio {
        margin-top: -5px
    }
    .navbar-fixed-top {
        padding: 10px 0 0 0;
        top: 0px
    }
    .navbar-toggle {
        margin: 10px 15px 10px 15px;
       /* background: #ff6600;
        background-color: #ff6600;*/
        
          background: #fff;
        background-color: #fff;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 24px;
        height: 3px;
        border-radius: 1px;
        background-color: #ff6600
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 8px 15px 8px 25px;
    }
    #home-principal {
        height: 200px;
        color: #FFF;
        padding-top: 40px;
        background-size: cover;
        background-position: center top;
    }
    #home-principal h1 {
        font-size: 24px;
        text-shadow: 1px 1px 1px #666;
        filter: dropshadow(color=#666, offx=2, offy=2);
    }
    #home-principal p {
        font-size: 16px;
    }
    .historia {
        min-height: 1px;
        padding: 15px 15px 15px 75px;
        background-position: -172px top
    }
    .histo {
        border: none
    }
    .capsalera {
        height: 200px;
    }
    section {
        padding: 15px 0;
    }
    .principi {
        min-height: 1px;
    }
    .principi.pri-primer {
        margin-bottom: 30px
    }
    .tarifes .tarifes-all {
        text-align: left;
    }
    /*ASSOCIAT*/
    
    .bg-associat {
        background-image: none;
    }
    section.questions.associat .container {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0
    }
    section.questions.associat h1 {
        font-size: 30px;
        padding: 30px 0 30px
    }
    section.questions.associat h2 {
        padding: 40px 0 15px 0;
        margin-bottom: 30px;
    }
    .form-associat .form-control {
        margin-bottom: 30px;
    }
    .form-associat .btn-default {
        float: none;
        width: 100%
    }
    .cap-asso {
        height: 200px;
        border-radius: 0px 0px 0 0
    }
    .cap-asso-tit {
        font-size: 36px;
    }
    .cap-asso-tit img {
        max-width: 60px;
    }
    h3.tipus {
        background-position: right 12px;
        height: auto;
        padding-bottom: 10px
    }
    .bg-associat.forumpag .bg-grisclar {
        background-position: right 5px;
    }
    .targeta .soci_num {
        padding: 0 15px 15px 60px;
        font-size: 18px;
    }
    .targeta .soci_num p {
        padding-bottom: 10px
    }
    .targeta .validfins {
        font-size: 13px;
    }
    .targeta .soci_nom {
        font-size: 18px;
    }
    .container.compte,
    .cap-perfil {
        padding: 30px 15px !important;
    }
    .cap-perfil-tit {
        font-size: 32px;
    }
    .top-ranking h1,
    .top-ranking.top-notis h1 {
        padding: 40px 0 40px 0;
        background-size: 130px;
        font-size: 32px;
    }
    .top-ranking.top-entrena h1 {
        background-size: 75px;
    }
    .top-ranking.top-proves h1 {
        background-size: 110px;
    }
    .tipus-entreno.llebres.llebre1,
    .tipus-entreno.llebres.llebre2,
    .tipus-entreno.llebres.llebre3,
    .tipus-entreno.llebres.llebre4,
    .tipus-entreno.llebres.llebre5 {
        width: 100%
    }
    .tipus-llebre-tit {
        font-size: 20px
    }
    .producte {
        height: auto;
        padding-bottom: 10px
    }
    .producte h1 {
        height: auto;
        padding: 15px 10px;
    }
    
    .flatWeatherPlugin ul.wiForecasts li.wiDay { /* width:100% !important;*/}
    
    
    .flatWeatherPlugin ul.wiForecasts {  width:100% !important;}

.flatWeatherPlugin ul.wiForecasts li {  width:33% !important;}
.flatWeatherPlugin.forecast ul.wiForecasts ul.wiForecast li{
    font-size: 14px
}

.flatWeatherPlugin h2 {
        width: 100%!important;
        padding:10px 15px 0 15px !important;
}

.flatWeatherPlugin.forecast ul.wiForecasts li.wiDay {
   /* border-bottom: #ffffff solid 1px !important;*/
        min-height: 1px;
    /*  border-right:none*/
        padding:0px 0 5px 0;

}
.forum{ margin-bottom:30px}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 30px;
    font-size: 14px;

}

.capsalera.quisom {
    margin-top: 0px;
}
.capsalera {

    padding-top: 75px;
}
.quisom .histo{
    width: 100%
}

}
@media (max-width: 480px) {
    .taula table th {
        text-align: center
    }
    .taula table a .caret {
        display: block;
        margin: auto
    }
    .submenu_entrev ul li {
        width: 100%;
    }
    .targeta .soci_num {
        padding: 0 15px 5px 30px;
        font-size: 18px;
    }
    .targeta .soci_nom {
        font-size: 15px;
    }
    a.edit-dades {
        top: 30px;
    }
    #bx-pager a {
        width: 60px;
        height: 60px;
    }
    #bx-pager a img {
        width: 60px;
        height: 60px;
    }
    a.filtre-prods {
        padding: 0 0 0 15px;
    }
}