.cookietool-message {
	position: fixed;
	width: 100%;
	padding:15px;
	text-align: center;
	background: #505050;
	border-bottom: 2px solid #fff;
	color: #ffffff;
	z-index:999999;
	font-size:14px;
}

.cookietool-message-top {
	border-bottom-width: 1px;
	top: 0;
}

.cookietool-message-bottom {
	border-top-width: 1px solid;
	bottom: 0;
}

.cookietool-message p {
	margin: 10px 0 10px 0; padding:0
}

.cookietool-message p a:hover,.cookietool-message p a { color:#ff6600
}

.cookietool-message button{
	color: #ffffff;
	border:none; 
	margin:0 10px 10px 10px; 
	background:#ff6600; 
	border-radius:0; 
	padding:5px 15px 
	}
	
	.cookietool-message button:hover{
	background:#e95e01; 
	}